<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bem vindo à {{ title }}!
  </h1>
</div>

<lb-group text="Mais..." position="left">
  <lb-link link="https://caiocampos.github.io" text="Página inicial"
    img="https://caiocampos.github.io/assets/img/extra/home.png">
  </lb-link>
  <lb-link link="https://github.com/caiocampos/calc" text="Código fonte"
    img="https://caiocampos.github.io/assets/img/github/mark/GitHub-Mark-120px-plus.png">
  </lb-link>
</lb-group>

<router-outlet></router-outlet>